<!DOCTYPE html>
<html>
  <head>
    <title>The Nostalgia Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" type="image/jpg" href="https://i.imgur.com/Xp0uDfA.png" />
    <meta property="og:title" content="The Nostalgia Book" />
    <meta property="og:url" content="https://the-nostalgia-book.herokuapp.com/" />
    <meta property="og:image" content="<%= `https://user-images.githubusercontent.com/62472030/111193827-f9f06c00-8590-11eb-96f4-01693cf101d6.png` %>" />

    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
